@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap'));

* {
  outline: 1px solid gray;
}
body {
  /*  fall back  */
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans",
    "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed",
    "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  /*  Inter Font  */
  font-family: "Inter", sans-serif;
  font-size: 1.25;
}

main article h1 {
  font-family: "Cherry Cream Soda", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #FFF6BD;
  
  animation: slideDown;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: both;
}


main p {
  animation: slideDown;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: both;

  color: whitesmoke;
}


main { 
    

  display: grid; 
    grid-template-columns: repeat(2, 1fr);

    background-color: #587850;

    article {
      display: flex;
      padding: 2em;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    ol li{
      display: inline-block;
    }

    img {
      display: block;
    max-width: 100%;
    
    height: 100vh;
    object-fit: cover;

    animation: slideDown;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both;

  }
}


@media screen and (max-width: 900px) {

  main { 
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
 }
  
 main h1 {
   text-align: center;
   font-size: 1.5rem;
 }
 
 aside img{
   display: block;
   max-height: 50%;
   width: 100%;
   
 }
 
}


@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideDown{
  0% {
    opacity: 0;
    transform: translateY(-1rem);
}
  100% {
    opacity: 1;
    transform: translateY(0);
}
}
/* Media Queries */
@media screen and ( max-width: 700px ) {
  
  main { 
     grid-template-columns: repeat(1, 1fr);
     justify-content: center;
  }
   
  main h1 {
    text-align: center;
    font-size: 1.5rem;
  }
  
  main img{
    display: block;
    
    max-height: 50%;
    width: 100%;
  }
  
  aside nav {
    display: flex;
    flex-direction: column;
  }
}
